{
  "name": "ESP COTS",
  "version": "{{VERSION}}",
  "builds": [
    {
      "chipFamily": "ESP32-C6",
      "ota": {
        "md5": "{{HASH}}",
        "path": "esp-cots-firmware.bin",
        "release_url": "https://github.com/triodes/esp-cots/releases/{{VERSION}}",
        "summary": "{{SUMMARY}}"
      }
    }
  ]
}

